{% extends 'base.html.twig' %}

{% block title %}HangMan{% endblock %}

{% block stylesheets %}
                <link rel="stylesheet" href="home_style.css">
{% endblock %}

{% block body %}
    <h1> Le Maître des Mots - Jeu du Pendu</h1>
    <p>Bienvenue dans le jeu du pendu thématique ! Choisissez un thème et devinez le mot mystère avant que le bonhomme ne soit pendu.</p>
{% endblock %}